In [1]:
import pandas as pd
import numpy as np

maternal_education = pd.read_csv(r"C:\Users\Elias\Final Project\Maternal Data\Cal-ViDa_Birth_01062026 (2).csv")
maternal_age = pd.read_csv(r"C:\Users\Elias\Final Project\Maternal Data\Cal-ViDa_Birth_01062026 (1).csv")
trimester_care = pd.read_csv(r"C:\Users\Elias\Final Project\Maternal Data\Cal-ViDa_Birth_01062026.csv")

In [2]:
maternal_education.head()

,Type_of_Event,Year_of_Birth,Residence_or_Place_of_Birth,ZIP_Code_of_Residence,Education_Level,Total_Births,Last_Data_Refresh
0,Birth,2022,Place of Residence,90001,No High School Diploma,201,12/10/2025
1,Birth,2022,Place of Residence,90001,High School Graduate or GED Completed,259,12/10/2025
2,Birth,2022,Place of Residence,90001,"Some College Credit, No 4-Year Degree",182,12/10/2025
3,Birth,2022,Place of Residence,90001,Bachelor's Degree,47,12/10/2025
4,Birth,2022,Place of Residence,90001,Graduate Degree,<11,12/10/2025

In [3]:
maternal_age.head()

,Type_of_Event,Year_of_Birth,Residence_or_Place_of_Birth,ZIP_Code_of_Residence,Age,Total_Births,Last_Data_Refresh
0,Birth,2022,Place of Residence,90001,15 years and under,<11,12/10/2025
1,Birth,2022,Place of Residence,90001,16 - 17 years,13,12/10/2025
2,Birth,2022,Place of Residence,90001,18 - 19 years,30,12/10/2025
3,Birth,2022,Place of Residence,90001,20 - 24 years,146,12/10/2025
4,Birth,2022,Place of Residence,90001,25 - 29 years,217,12/10/2025

In [4]:
trimester_care.head()

,Type_of_Event,Year_of_Birth,Residence_or_Place_of_Birth,ZIP_Code_of_Residence,Trimester_Prenatal_Care_Began,Total_Births,Last_Data_Refresh
0,Birth,2022,Place of Residence,90001,First Trimester,566,12/10/2025
1,Birth,2022,Place of Residence,90001,Second Trimester,103,12/10/2025
2,Birth,2022,Place of Residence,90001,Third Trimester,29,12/10/2025
3,Birth,2022,Place of Residence,90001,No Prenatal Care,<11,12/10/2025
4,Birth,2022,Place of Residence,90001,Unknown/Not Reported,<11,12/10/2025

In [5]:
# Dropping columns that already exist in birth data
maternal_education = maternal_education.drop(columns=["Type_of_Event", "Year_of_Birth", "Residence_or_Place_of_Birth", "Last_Data_Refresh"])

# Replacing <11 with 5.5, keeping 0 values
maternal_education["Total_Births"] = maternal_education["Total_Births"].replace("<11", "5.5")
maternal_education["Total_Births"] = maternal_education["Total_Births"].replace("0", "0")
maternal_education["Total_Births"] = pd.to_numeric(maternal_education["Total_Births"], errors="coerce")

# Pivot to get education levels as columns
education_pivot = maternal_education.pivot_table(index="ZIP_Code_of_Residence",columns="Education_Level",values="Total_Births",aggfunc="sum",fill_value=0).reset_index()

# Flattening column names
education_pivot.columns = [
    f"Births_{col.replace(' ', '_').replace('/', '_')}" if col != "ZIP_Code_of_Residence" 
    else col 
    for col in education_pivot.columns
]


maternal_age = maternal_age.drop(columns=["Type_of_Event","Year_of_Birth","Residence_or_Place_of_Birth","Last_Data_Refresh"])

# same approach as before
maternal_age["Total_Births"] = maternal_age["Total_Births"].replace("<11", "5.5")
maternal_age["Total_Births"] = maternal_age["Total_Births"].replace("0", "0")
maternal_age["Total_Births"] = pd.to_numeric(maternal_age["Total_Births"], errors="coerce")

age_pivot = maternal_age.pivot_table(index="ZIP_Code_of_Residence",columns="Age",values="Total_Births",aggfunc="sum",fill_value=0).reset_index()

age_pivot.columns = [
    f"Births_{col.replace(' ', '_').replace('-', '_')}" if col != "ZIP_Code_of_Residence"
    else col
    for col in age_pivot.columns
]


trimester_care = trimester_care.drop(columns=["Type_of_Event","Year_of_Birth","Residence_or_Place_of_Birth","Last_Data_Refresh"])


trimester_care["Total_Births"] = trimester_care["Total_Births"].replace("<11", "5.5")
trimester_care["Total_Births"] = trimester_care["Total_Births"].replace("0", "0")
trimester_care["Total_Births"] = pd.to_numeric(trimester_care["Total_Births"], errors="coerce")


trimester_pivot = trimester_care.pivot_table(index="ZIP_Code_of_Residence",columns="Trimester_Prenatal_Care_Began",values="Total_Births",aggfunc="sum",fill_value=0).reset_index()

trimester_pivot.columns = [
    f"Births_{col.replace(' ', '_').replace('/', '_')}" if col != "ZIP_Code_of_Residence"
    else col
    for col in trimester_pivot.columns
]

# Merging with the birth data that we cleaned
birth_data = pd.read_csv(r"C:\Users\Elias\Final Project\Cleaned output data files\cleaned_birth_data_aggregated.csv")

final_merged = birth_data.merge(education_pivot, on="ZIP_Code_of_Residence", how="left"
).merge(age_pivot,on="ZIP_Code_of_Residence",how="left"
).merge(trimester_pivot,on="ZIP_Code_of_Residence",how="left")

# Filling NaN with 0
final_merged = final_merged.fillna(0)

print(f"Final merged shape: {final_merged.shape}")
print(f"\nColumns: {final_merged.columns.tolist()}")
# Overwrite the aggregated birth data file)
final_merged.to_csv("cleaned_birth_data_aggregated.csv", index=False)

Final merged shape: (267, 45)

Columns: ['ZIP_Code_of_Residence', 'Total_Births_2018_2022', 'Total_LBW_Count_2018_2022', 'LBW_Rate', "Births_Bachelor's_Degree_x", 'Births_Graduate_Degree_x', 'Births_High_School_Graduate_or_GED_Completed_x', 'Births_No_High_School_Diploma_x', 'Births_Some_College_Credit,_No_4-Year_Degree_x', 'Births_Unknown_x', 'Births_15_years_and_under_x', 'Births_16___17_years_x', 'Births_18___19_years_x', 'Births_20___24_years_x', 'Births_25___29_years_x', 'Births_30___34_years_x', 'Births_35___39_years_x', 'Births_40___44_years_x', 'Births_45___49_years_x', 'Births_First_Trimester_x', 'Births_No_Prenatal_Care_x', 'Births_Second_Trimester_x', 'Births_Third_Trimester_x', 'Births_Unknown_Not_Reported_x', "Births_Bachelor's_Degree_y", 'Births_Graduate_Degree_y', 'Births_High_School_Graduate_or_GED_Completed_y', 'Births_No_High_School_Diploma_y', 'Births_Some_College_Credit,_No_4-Year_Degree_y', 'Births_Unknown_y', 'Births_15_years_and_under_y', 'Births_16___17_years_y', 'Births_18___19_years_y', 'Births_20___24_years_y', 'Births_25___29_years_y', 'Births_30___34_years_y', 'Births_35___39_years_y', 'Births_40___44_years_y', 'Births_45___49_years_y', 'Births_50_years_and_over/Unknown', 'Births_First_Trimester_y', 'Births_No_Prenatal_Care_y', 'Births_Second_Trimester_y', 'Births_Third_Trimester_y', 'Births_Unknown_Not_Reported_y']